.link {
    padding: 0.75em;
    text-decoration: none;
    color: black;
    border-radius: 50px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.link:hover {
    color: white;
    background-color:seagreen;
}

.link:active {
    background-color:darkseagreen;
}

.topbarContainer {
    display: flex;
    justify-content: center;
}

.topbarContainer h2 {
    margin: 0.6em;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1em 0 1em;
}

.navigationBar {
    display: flex;
    flex-direction: row;
}

.navigationBar a {
    margin-left: 0.2em;
    margin-right: 0.2em;
}