.imageHolder {
    position: relative;
    border-radius: 100%;
}

.imageHolder:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}