.container {
    width: 100%;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    margin: 16px 0;
}

.tag {
    text-decoration: none;
    font-size: 0.9em;
}

.repoLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    text-decoration: none;
}

.anecdote {
    margin-left: 2em;
    margin-top: 12px;
}
